<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <link href="/img/newBg.bmp" rel="icon" th:href="@{/img/newBg.bmp}">
    <title>商城管理系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!--    <script th:src="@{/js/bootstrap.min.js}"> </script>-->


    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <style>
        a:link{
            font-size: 20px;
            color:rgb(109,109,109);
        }
        a:visited{
            font-size: 20px;
            color:rgb(109,109,109);
        }
        a:hover{
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

        .atear:link{
            color: skyblue;
        }
        .atear:hover{
            color: greenyellow;
        }

        td{
            text-align: center;
        }
    </style>

</head>
<body>

<div class="row">
    <!--导航-->
    <div class="col-md-3" style="background-color:rgb(0,21,41);height: 800px; ">

        <div class="row">
            <div class="col-md-12" style="height: 70px;line-height: 70px;font-size: 20px;color: #9acfea;font-weight: bold; background-color: rgb(0,40,77);text-align: center">
                <img src="../../static/img/newBg.bmp" th:src="@{/img/newBg.bmp}" style="width: 30px;height: 30px;margin-right: 8px">网上商城管理系统
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a href="#" th:href="@{/IndexForMe}">进入首页</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a th:href="@{/list}">用户管理</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a th:href="@{/ToAdd}">添加用户</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a href="#" th:href="@{/findStoreAll}">商品管理</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a href="#">添加客户</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a href="#" th:href="@{/TochangeAdminPwd?aid=1}">修改密码</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 " style="text-align: center; padding: 20px 0px 20px 0px;">
                <a href="#">退出登录</a>
            </div>
        </div>

    </div>

    <div class="col-md-9" style="border: 1px solid gray;height: 800px">
        <div class="row">
            <!--x显示位置-->
            <div class="col-md-12" style="height: 70px;font-size: 18px; color: rgb(109,109,109);line-height: 70px;padding-left:20px;">
                &nbsp; <a th:href="@{/admin}" class="atear">  >&nbsp;首页</a>
            </div>
        </div>

<!--        <div class="row">-->
<!--            &lt;!&ndash;x显示位置&ndash;&gt;-->
<!--            <div class="col-md-12" style="background-color:rgb(240,242,245);height: 730px;padding: 20px">-->
<!--                <img src="/static/img/jingluo.jpg" class="img-responsive center-block "/>-->
<!--            </div>-->
<!--        </div>-->

<!--        分页显示-->
<!--        //userId  username  password nickname-->
<!--        //先显示整个列表  只好使用表格了  虽然这东西现在几乎淘汰了 但还是被迫使用  无奈啊-->


        <table border="1"  class="table table-hover table-primary">
            <thead>
            <tr class="active" >
                <td colspan="5" style="color: pink;text-shadow: 2px 2px 2px #c026e2;font-weight: bold;
               ">用户管理列表</td>
            </tr>
            <tr class="bg-info" >
                <td>userId</td>
                <td>username</td>
                <td>password</td>
                <td>nickname</td>
                <td>Operation</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.userId}">UserId</td>
                <td th:text="${user.username}">UserId</td>
                <td th:text="${user.password}">UserId</td>
                <td th:text="${user.nickname}">UserId</td>
                <td>
                    <a style="color: black;" class="btn btn-primary " th:href="@{/Edit(userId=${user.userId})}">编辑</a>
                    <a style="color: black;" class="btn btn-primary" th:href="@{/Delete(userId=${user.userId})}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination justify-content-end" style="float: right">
            <li class="page-item">
                <a class="page-link" th:href="'list?pageNum='+${pageInfo.navigateFirstPage}">首页</a>
            </li>

            <!--上一页-->
            <li class="page-item">
                <a class="page-link" th:href="'list?pageNum='+${pageInfo.prePage}">上一页</a>
            </li>

            <!--循环遍历显示中间的页数-->
            <li th:each="list:${pageInfo.navigatepageNums}">
                <a th:href="'list?pageNum='+${list}" th:text="${list}"
                   th:if="${list!=pageInfo.pageNum}"></a>
                <span style="font-weight: bold;background: #6faed9;"
                      th:if="${list == pageInfo.pageNum}" th:text="${list}" ></span>
            </li>
            <!--下一页-->
            <li class="page-item"    th:if="${pageInfo.hasNextPage}">
                <a class="page-link" th th:href="'list?pageNum='+${pageInfo.nextPage}">下一页</a>

            </li>

            <!--尾页-->
            <li class="page-item">
                <a class="page-link" th:href="'list?pageNum='+${pageInfo.navigateLastPage}">尾页</a>

            </li>
        </ul>




    </div>













</body>

</html>