<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tear.sys.mapper.UserMapper">


<update id="updateOne"  parameterType="com.tear.sys.entity.User"  >
     update user set  username=#{username},password=#{password},nickname=#{nickname}
where user_id=#{userId}
</update>

     <select id="login" resultType="com.tear.sys.entity.User" parameterType="String">
          select  * from user where
                                    username=#{username} and password=#{password}
     </select>

</mapper>